{% extends "core/base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container" style="padding-top: 120px;">
    <div class="row">
        <div class="col">
            <h1 class="logo-font">Shopping Bag</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-5">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    {% if bag_items %}
    <div class="row">
        <div class="col">
            <div class="table-responsive rounded">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in bag_items %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price }}</td>
                            <td>{{ item.subtotal }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-4 justify-content-end">
        <div class="col-auto">
            <a href="{% url 'packages:package_list' %}" class="btn btn-outline-dark btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Browse Packages</span>
            </a>
        </div>
        <div class="col-auto">
            <a href="{% url 'checkout' %}" class="btn btn-package btn-lg">Checkout</a>
        </div>
    </div>

    {% else %}
    <p class="lead mb-5 text-center">Your bag is empty.</p>
    <div class="text-center">
        <a href="{% url 'packages:package_list' %}" class="btn btn-outline-dark rounded-0 btn-lg">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Browse Other Packages</span>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
