{% extends "core/base.html" %}
{% load static %}

{% block content %}

<!-- Hero -->
<section class="hero-section text-center">
  <!-- Background image -->
  <img src="{% static 'images/hero.png' %}" alt="Hero Image" class="hero-image">

  <!-- Text overlay -->
  <div class="hero-overlay d-flex flex-column justify-content-center align-items-center">
    <h1>Build Your Online Presence with WebWorks.</h1>
    <h2>Professional Web Design and Development Services</h2>
    <p>From essential support to fully custom solutions, our tiered service packages.
      Bronze, Silver, Gold, and Platinum,</p>
    <p>Give your business exactly what it needs to thrive.</p>
  </div>
</section>

<!-- What We Offer -->
<section id="packages" class="container my-5">
  <h3>What We Offer</h3>
  <div class="row">
    {% for package in packages %}
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card h-100" style="width: 18rem;">
          {% if package.image %}
            <img src="{{ package.image.url }}" class="card-img-top" alt="{{ package.name }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ package.name }}</h5>
            <p class="card-text">${{ package.price }}</p>
             <p class="card-intro">{{ package.intro }}</p>
            <a href="{{ package.get_absolute_url }}" class="btn btn-primary">More Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Reviews -->
<section class="container my-5">
 <h3>Reviews</h3>
</section>

<!-- Contact Section -->
<section class="container my-5">
  <h3>Contact Us</h3>
</section>

{% endblock %}
