{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% endblock %} {% block extra_meta %}{% endblock %} {% block corecss %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/useful-links.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %} {% block extra_css %}{% endblock %} {% block corejs %}
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %} {% block extra_js %}{% endblock %}

    <title>WebWorks {% block extra_title %}{% endblock %}</title>
  </head>

  <body style="font-family: 'Open Sans', sans-serif">
    <header class="container-fluid fixed-top bg-light">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'index' %}" class="navbar-brand">
          <h2
            class="logo-font text-dark my-0"
            style="font-family: 'Noto Serif', serif"
          >
            <strong>Web</strong>Works
          </h2>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'packages:package_list' %}">Packages</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="accountDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                My Account
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="accountDropdown"
              >
                <a class="dropdown-item" href="{% url 'profiles:profile' %}">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
            </li>
            {% endif %}

            <li class="nav-item position-relative">
              <a class="nav-link" href="{% url 'bag:view_bag' %}">
                <i class="fa-solid fa-cart-shopping"></i>
                <span id="cart-count">{{ product_count }}</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
        {% if "subscribe" not in message.tags %}
          {% with message.level as level %}
            {% if level == 40 %}
              {% include 'toasts/toast_error.html' %}
            {% elif level == 30 %}
              {% include 'toasts/toast_warning.html' %}
            {% elif level == 25 %}
              {% include 'toasts/toast_success.html' %}
            {% elif level == 20 %}
              {% include 'toasts/toast_info.html' %}
            {% endif %}
          {% endwith %}
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <main>
      {% block page_header %}{% endblock %} {% block content %}{% endblock %}
    </main>

    <footer class="container-fluid bg-light border-top">
      <div class="container-fluid px-lg-5 px-3 py-5" style="max-width: 1400px; margin: 0 auto">
        <div class="row text-center text-md-start">
          <div class="col-md-3 mb-4 mb-md-0">
            <h5 class="mb-3">Useful Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'faq' %}" class="text-dark text-decoration-none">FAQ</a>
              </li>
              <li>
                <a href="{% url 'privacy' %}" class="text-dark text-decoration-none">Privacy Policy</a>
              </li>
              <li>
                <a href="{% url 'terms' %}" class="text-dark text-decoration-none">Terms & Conditions</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 mb-4 mb-md-0">
            <h5 class="mb-3">Where to Find Us</h5>
            <p class="mb-1">123 Street Name</p>
            <p class="mb-1">Cwmbran, South Wales</p>
            <p class="mb-1">NP44 1AA</p>
          </div>
          <div class="col-md-3 mb-4 mb-md-0 footer-social">
            <h5 class="mb-3">Follow Us</h5>
            <a href="https://www.facebook.com/?_rdr" class="text-dark d-inline-block" target="blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/" class="text-dark d-inline-block" target="blank"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="https://www.linkedin.com/home" class="text-dark d-inline-block" target="blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://x.com/?lang=en" class="text-dark d-inline-block" target="blank"><i class="fa-brands fa-x-twitter"></i></a>
          </div>
          <div class="col-md-3" id="newsletter">
            <h5 class="mb-3">Subscribe for Updates</h5>
            <form method="post" action="{% url 'subscribe' %}#newsletter">
              {% csrf_token %}
              <input type="email" name="email" class="form-control mb-2" placeholder="Your email" required />
              <button class="btn btn-dark w-100" id="join-btn" type="submit">Join</button>
            </form>
            {% if messages %}
              {% for message in messages %}
                {% if "subscribe" in message.tags %}
                  <div class="mt-2 small {% if message.level_tag == 'error' %}text-danger{% else %}text-success{% endif %}">{{ message }}</div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

      <div class="py-3 text-center border-top">
        <p class="mb-0">&copy; {% now "Y" %} WebWorks. All rights reserved.</p>
      </div>

      {% block footer %}{% endblock %}
    </footer>

    {% block postloadjs %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
  </body>
</html>