/* success message styling */
.message-container {
    position: fixed;
    top: 70px;
    right: 20px;
    left: 20px;
    z-index: 1050;
}
.message-container .alert {
    max-width: 600px;
    margin: 0 auto;
}

/* Hero section styling */
.hero-overlay h1,
.hero-overlay h2 {
    text-align: left;
}

/* Center align h3 elements */
h3 {
    text-align: center;
}

/* Package cards styling */
#packages .row {
  display: flex;
  flex-wrap: wrap;
}

#packages .col-md-3,
#packages .col-sm-6 {
  display: flex;
  flex: 1 0 0;
}

#packages .card {
  flex: 1;
}

#packages .btn {
  padding: 0.3rem 0.8rem;
  font-size: 0.85rem;
  min-width: 100px;
}


/* Responsive adjustments for different screen sizes */

/* mobiles */
@media screen and (max-width: 767px) {
  #packages .card {
    margin-bottom: 1.5rem;
    min-height: 191px;
  }
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  #packages .card {
    margin-bottom: 1.5rem;
    min-height: 191px;
  }
}

/* laptops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #packages .card {
    margin-bottom: 1.5rem;
    min-height: 191px;
  }
}

/* XL screens */
@media screen and (min-width: 1200px) {
  #packages .card {
    margin-bottom: 1.5rem;
    min-height: 191px;
  }
}
