{% extends "allauth/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="container">
    <h1 class="text-center">{% trans "Confirm E-mail Address" %}</h1>

    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}

        <p class="text-center">
            {% blocktrans with confirmation.email_address.email as email %}
                Please confirm that <strong>{{ email }}</strong> is an e-mail address for user {{ user_display }}.
            {% endblocktrans %}
        </p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="text-center mt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Confirm' %}</button>
            <a href="{% url 'account_login' %}" class="btn btn-secondary ms-2">{% trans 'Cancel' %}</a>
        </form>

    {% else %}
        {% url 'account_email' as email_url %}
        <p class="text-center mt-3">
            {% blocktrans %}
                This e-mail confirmation link expired or is invalid.<br>
                Please <a href="{{ email_url }}">request a new confirmation link</a>.
            {% endblocktrans %}
        </p>
    {% endif %}
</div>
{% endblock %}
