{% extends "allauth/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="signup">
            <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
            <a href="{% url 'profiles:profile' %}" class="btn btn-secondary">Back to Profile</a>
        </div>
        <div class="text-center mt-3">
    <a href="{% url 'account_reset_password' %}" class="btn btn-link">{% trans "Forgot Password?" %}</a>
</div>
    </form>
</div>
{% endblock %}