{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/order_details.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid bg-light py-5">
    <!-- back button -->
   <div class="back-button-wrapper">
    <a href="{% url 'profiles:profile' %}" class="back-button">
        <i class="fa-solid fa-arrow-left"></i> Back
    </a>

    <form action="#" method="post">
        {% csrf_token %}
        <button type="submit" class="back-button">
            <i class="fa-solid fa-download"></i> Save
        </button>
    </form>
</div>

    <div class="container">
    <!-- header -->
    <div class="mb-4">
        <h1>Order #{{ order.order_number }}</h1>
        <p><strong>Customer:</strong> {{ order.full_name }}</p>
        <p><strong>Email:</strong> {{ order.email }}</p>
        <p><strong>Order Date:</strong> {{ order.date|date:"F d, Y" }}</p>
    </div>
    <!-- order items -->
    <div class="mb-4">
            <h3>Items</h3>
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>£{{ item.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <!-- order summary -->
    <div class="order-summary">
    <h3>Order Summary</h3>
    <p><strong>Total:</strong> £{{ order.order_total }}</p>
</div>
    </div>
</div>
{% endblock %}